@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Pixelify+Sans:wght@400..700&family=Rationale&family=Sixtyfour&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Pixelify+Sans:wght@400..700&family=Rationale&family=Sixtyfour&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --font-bungee-outline: "Bungee Outline", cursive;
    --font-pixelify: "Pixelify Sans", sans-serif;
    --font-rationale: "Rationale", sans-serif;
    --font-sixtyfour: "Sixtyfour", sans-serif;
    --font-tomorrow: "Tomorrow", sans-serif;
}

body {
    height: 100svh;
    overflow: hidden;

    font-family: "Tomorrow", serif;
    font-weight: 500;
    font-style: normal;
    background: linear-gradient(to right top, #05152c, #011e4d, #1c236c, #442087, #72009b);
}

.neonText {
    animation: flicker 1.6s infinite alternate;
    color: #fff;
}

.main_title {
    font-family: "Bungee Outline", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: clamp(56px, 5.2vw, 120px);
}

.main_sub_title {
    font-family: "Rationale", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 21px;
    margin: 10px -30px 20px;
}

/* Flickering animation */
@keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa,
            0 0 100px #0fa, 0 0 150px #0fa;
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
